
.custom-nav-ul li {
  font-weight: 500;
  margin: 0 3rem;
  font-size: 1.1rem;
  padding: 0.4rem;
}
.custom-nav-ul li a {
  color: #000;
}
.custom-nav-ul li a:hover {
  color: var(--primary-color);
}

.navbar-close {
  position: absolute;
  top: -38px;
  left: 15px;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: #666;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

.navbar-close:hover {
  color: #333;
}

@media (max-width: 991.98px) {
  .navbar-collapse.show .navbar-close {
    display: block;
  }
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    position: relative;
    padding-top: 20px;
  }
}
.dropdown-item,
.dropdown-divider {
  padding: 0 !important;
  margin: 0 !important;
}

.active{
  
  font-weight: 600 !important;
}
@media (max-width: 1024px) {
  .custom-nav-ul li {
    margin: 0 1rem !important;
  }
}
@media (max-width: 768px) {
  .custom-nav-ul li a {
    text-align: center;
    letter-spacing: 2px;
  }
  .custom-nav-ul li a:not(.dropdown-item) {
    border-bottom: 2px solid #b6b0b0;
  }
  .dropdown-menu {
    border-radius: 0 !important;
    margin-top: 1rem !important;
  }
}



/* @media (min-width > 900) {
    .logo img{
    margin-top: -20px;
} */

/* } */
