.booking {
  border-radius: 20px;
}
section {
  margin: 120px 100px;
}
.pills {
  width: 30%;
  height: auto;
  padding: 3px 15px;
  border: 1px solid rgb(153, 153, 153);
  background-color: rgb(247, 248, 249);
  border-radius: 40px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
}
span {
  font-size: 0.8rem !important;
}
@media (min-width: 768px) {
  .pills {
    width: auto;
  }
}
@media (max-width: 800px) {
  .pills {
    padding: 4px;
  }
}

#passengerType,
#flightType {
  width: 200px;
  height: 35px;
  border-radius: 10px;
  background-color: rgb(247, 248, 249);
  margin-top: 10px;
  /* margin-left: -10px; */
}

@media (max-width: 768px) {

  section {
    margin: 0;
    margin-top: 40px;
  }
}
