<section>
       <div class="container-fluid shadow p-4 py-5 border booking">
        <div class="row">
            <div class="col-12 d-flex flex-column flex-md-row justify-content-between ">
                <div>
                    <span class="pills">One Way</span>
                    <span class="pills">Return</span>
                    <span class="pills">Multi City</span>
                </div>
                <div>
                    <form action="/submit" method="post" class="d-inline">
                        <select id="passengerType">
                            <option value="adult">Adult</option>
                            <option value="child">Child</option>
                            <option value="infant">Infant</option>
                        </select>
                    </form>
                    <form action="/submit" method="post" class="d-inline">
                        <select id="flightType">
                            <option value="economny">Economy</option>
                            <option value="business">Business</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="col-12 p-3">
                <form class="row g-3 mt-4">
                    <div class="col-12 col-md-3">
                        <label for="departureCity" class="form-label">Select Departure City</label>
                        <select id="departureCity" class="form-select">
                            <option selected>Select Departure City</option>
                            <option value="karachi">Karachi</option>
                            <option value="lahore">Lahore</option>
                            <option value="islamabad">Islamabad</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-3">
                        <label for="arrivalCity" class="form-label">Select Arrival City</label>
                        <select id="arrivalCity" class="form-select">
                            <option selected>Select Arrival City</option>
                            <option value="dubai">Dubai</option>
                            <option value="london">London</option>
                            <option value="newyork">New York</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-3">
                        <label for="departureDate" class="form-label">Select Departure Date</label>
                        <input type="date" id="departureDate" class="form-control">
                    </div>
                    <div class="col-12 col-md-3">
                        <label for="returnDate" class="form-label">Select Return Date</label>
                        <input type="date" id="returnDate" class="form-control" disabled>
                    </div>
                    <div class="col-12 text-center ">
                        <button type="submit" class="btn btn-dark px-4 mt-4">Search Flight</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</section>
