#row {
  margin-left: -10%;
}
section {
  overflow-x: hidden;
  padding: 10px;
}

.card-1 {
  background-color: #448768;
  border-radius: 20px;
  height: 150px;
}

.card-2 {
  background-color: #4e5099;
  border-radius: 20px;
  height: 150px;
}

.card-3 {
  background-color: #f14737;
  border-radius: 20px;
  height: 150px;
}

.card-4 {
  background-color: #4c4ceb;
  border-radius: 20px;
  height: 150px;
}
.agency-user {
  width: 100%;
  margin-top: 2%;
}
.agency-user h5 {
  color: #0d6efd;
  font-size: 20px !important;
  padding: 10px 0;
}

.agency-user > div {
  background-color: #f8f9fc;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid rgb(243, 240, 240);
}
.agency-img > * {
  width: 15%;
  height: 15%;
  border-radius: 50px;
  margin: 5px;
}
.total h5.active {
  border-bottom: 3px solid #007bff; 
}

@media (min-width: 900px) {
  .agency-user {
    width: 120%;
  }
}

.total div h5 {
  display: inline !important;
  font: 0.6rem;
  font-weight: 600;
  padding: 5px;
}
.total div h5:hover {
  cursor: pointer;
}

.total-box-inner {
  margin: 25px;
  padding: 20px 40px;
  border-radius: 40px;
}
.total {
  border-radius: 40px;
}
.total-box {
  background-color: #f8f9fc;
}

.chart-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  padding: 16px;
}

#salesChart {
  max-height: 200px;
}
#policyChart {
  max-height: 200px;
  margin-bottom: -40px;
}

@media (max-width: 400px) {
  .total-box-inner div h5 {
    font-size: 0.9rem !important;
  }

  .total-box-inner div img {
    width: 70% !important;
  }
  .total-box-inner {
    padding: 10px 30px;
  }
  .total div h5 {
    font-size: 1rem !important;
    padding: 5px;
  }
  .agency-user {
    width: 110%;
    margin: 10px 0;
    margin-left: -15px;
  }
}
